[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
channels = "==4.0.0"
django = "==4.1.7"
django-cleanup = "==7.0.0"
django-cors-headers = "==3.14.0"
pillow = "==9.4.0"
python-decouple = "==3.8"
strawberry-graphql-django = "==0.9.2"

[dev-packages]
daphne = "*"
black = "*"
